<div style="text-align: start">
    <h1>Explore
        <i class="fas fa-search-plus"></i>
    </h1>
    <h5 id="subtitle">Find new GitHub Repositories here! </h5>
    <form class="form-inline" id="search-form">
        <div class="input-group">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search" id="search" />
            <div class="input-group-append">
                <button class="btn btn-outline-primary" type="submit" id="explore-api-button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>
</div>
<br /> <br /> <br />
{{!-- API will append here --}}
<div id="results"></div>