<div style="text-align: start">
    <h1>Settings
        <i class="fas fa-cogs"></i>
    </h1>
    <br />
</div>
<div id="settings-list">
    <ul class="card list-group bg-transparent" style="width: 100%">
        <li class="list-group-item bg-transparent">Dark Theme
            <i class="far fa-moon"></i>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input list-cursor" id="theme-switch">
                <label class="custom-control-label list-cursor" for="theme-switch"></label>
            </div>
        </li>
        <li class="list-group-item list-cursor bg-transparent" id="change-password" data-toggle="collapse"
            data-target="#password-list" data-parent="#settings-list">
            Change your password <i class="fas fa-key"></i>
            <div class="list-group-collapse collapse" id="password-list">
                <a class="list-group-item" href="#">List Item 1</a>
                <a class="list-group-item" href="#">list Item 2</a>
            </div>
        </li>
        <li class="list-group-item list-cursor red bg-transparent" id="delete-account">Delete your account
            <i class="fas fa-trash"></i>
        </li>
    </ul>
</div>
<br />
<form action="/api/changePassword" method="PUT" >
<div class="row" id="change-password-form">
    <div class="col-lg-12 form-group">
        <h4>Old Password: </h4>
        <input type="password" class="form-control nospace" id="old-password" name="oldPassword" placeholder="Old Password">
        <small>Remember: Use 8 - 16 characters with a mix of letters, numbers and symbols</small>
    </div>
    <br />
    <div class="col-lg-6 form-group">
        <h4>Create Password: </h4>
        <input type="password" class="form-control nospace" id="password" name="newPassword" placeholder="New Password">
    </div>
    <div class="col-lg-6 form-group">
        <h4>Confirm Password: </h4>
        <input type="password" class="form-control nospace" id="confirm-password" name="ConfirmPassword" placeholder="Confirm Password">
    </div>
     <br />
    <div>
        <button type="button" class="btn btn-outline-danger" id="close-password-btn">Cancel</button>
        <button type="submit" class="btn btn-outline-success" id="change-password-submit">Submit</button>
    </div>
    {{#if message}}
                <h6 class="alert alert-danger mt-4">{{message}}</h6>
                {{/if}}
</div>
</form>
<div class="row" id="delete-account-form">
    <div class="col-lg-12 form-group">
        <h4>Confirm Password: </h4>
        <input type="password" class="form-control nospace" id="password" placeholder="Your Password">
        <small>Warning: No undo. Everything you've ever done on this site will be gone!</small>
    </div>
     <br />
    <div>
        <button type="button" class="btn btn-outline-secondary" id="close-delete-btn">Cancel</button>
        <button type="submit" class="btn btn-outline-danger" id="delete-account-sumit">Delete my Account</button>
    </div>
</div>
