html, body {
    height: 100%;
}
.title {
    font-size: 72px;
    font-weight: 900;
}
.navbar .title {
    text-align: left !important;
    position: relative;
}
@media only screen and (max-width: 767px) {
    .title {
        font-size: 15vw;
        font-weight: 900;
    }
}
#coding-image {
    width: 75%;
}
.btn-outline-info {
    width: 80%;
    text-align: center;
    margin-left: 10%;
}
.container {
    margin-top: 25px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    opacity: 0.7;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.block {
    overflow: hidden;
    padding: 1rem;
    max-width: 100%;
    margin: 0 0 1rem 0;
    text-align: left;
    border-style: solid;
    border-width: medium;
    border-radius: 5px;
}
.block img {
    width: 75px;
    height: 75px;
    float: left;
    margin: 0 1rem 0 0;
}
.block h2 {
    font-weight: 500;
    margin: 0 0 0.5rem 0;
}
.close-btn {
    cursor: pointer;
    font-size: 72px;
}
.username {
    font-size: large;
}
code {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}
textarea {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
.profile-picture {
    width: 75px;
    height: 75px;
    margin: 0 1rem 0 0;
}
#textarea {
    width: 100%;
    height: 30vh;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
    overflow: scroll;
}
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.underline {
   text-decoration: underline;
}

#settings-list {
    text-align: left;
}
.list-group .list-group-item{
    display: inline-block;
    font-size: 20px;
    border-color: lightgray;
}
.custom-switch {
    display: inline-block;
    float: right;
}
.list-cursor:hover {
    cursor: pointer;
}
.red {
    color: red;
}
.dark {
    background-color: #181a1b !important;
    color: white !important;
}
.light {
    background-color: white !important;
    color: black !important;
}
#subtitle {
    float: left;
}
#search-form {
    float: right;
}
#txtid{
    display: none;
}
#overflow {
    white-space: normal;
    overflow: hidden;
    overflow-wrap: break-word;
}